
{% block content %}

{% block title %}Login{% endblock %}


<form action ="#" method = "POST" class = "form">

	<label for = "username" class = "form__username--label">Username</label>
	<input name = "username" placeholder = "Enter Username" class = "form__username--input" required/>

	<label for = "role" class = "form__role--label">Role<label>
	<input name = "role" class =  "form__role--input" required />

	<button type = "submit" value = "Submit"></button>

</form>

{% endblock %}

