
{% block content %}

{% block title %}Login{% endblock %}


<form action ="#" method = "POST" class = "form">

	<label for = "username" class = "form__username--label">Username</label>
	<input type = "text" name = "username" placeholder = "Enter Username" class = "form__username--input" required/>

	<label for = "password" class = "form__role--label">Password<label>
	<input type = "password" name = "password" placeholder = "enter password" class =  "form__role--input" required />

	<button type = "submit" value = "Submit">LogIn</button>

</form>

{% endblock %}

