<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>

    {% block content %}

    <form action="#" method="post">

        <p>Id:</p>
        <input type="text" name = "id" />

        <p>Name:</p>
        <input type="text" name = "name">
        
        <p>Role</p>
        <input type="text" name = "role">
        
        <input type="submit" value="Submit">

    </form>

    {% endblock %}
    
</body>
</html>